@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #1d2a35;
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
  font-family: "Outfit", sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Outfit", sans-serif;
}
